<script>
  var hostUrl = "/dist/assets/";
</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="/dist/assets/plugins/global/plugins.bundle.js"></script>
<script src="/dist/assets/plugins/custom/typedjs/typedjs.bundle.js"></script>
<!-- <script src="/dist/assets/js/scripts.bundle.js"></script> -->
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
<script src="/dist/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="/dist/assets/js/widgets.bundle.js"></script>
<script src="/dist/assets/js/custom/widgets.js"></script>
<script src="/dist/assets/js/custom/apps/chat/chat.js"></script>
<script src="/dist/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="/dist/assets/js/custom/utilities/modals/create-app.js"></script>
<script src="/dist/assets/js/custom/utilities/modals/new-target.js"></script>
<script src="/dist/assets/js/custom/utilities/modals/users-search.js"></script>
<!--end::Custom Javascript-->
<!--begin::Global Theme Bundle(used by all pages)-->
<!-- <script src="/dist/assets/plugins/global/plugins.bundle.js"></script> -->
<script src="/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>

<script src="/dropify/dist/js/dropify.min.js"></script>

<!-- Script element sourcing TinyMCE -->
<script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src="/javascripts/my-tinymce-config.js"></script>

<!--end::Javascript-->
<script>
  $(document).ready(function() {
    // $("#tabel_category").DataTable();
    $('#tabel_category').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
  // alert('cek tabels');
</script>
</body>
<!--end::Body-->

</html>